---
import { expressiveCodeConfig, siteConfig } from "@/config";
import { normalizeTOCBadgeStyle } from "@/components/features/toc/utils/japanese-katakana";

const tocBadgeStyle = normalizeTOCBadgeStyle(
	siteConfig.toc.badgeStyle,
	siteConfig.toc.useJapaneseBadge,
);
---

<!-- 全局配置载体 -->
<div
	id="config-carrier"
	data-hue={siteConfig.themeColor.hue}
	data-hide-code-blocks-during-transition={expressiveCodeConfig.hideDuringThemeTransition
		? "true"
		: "false"}
>
</div>

<script
	is:inline
	define:vars={{
		tocEnable: siteConfig.toc.enable,
		tocDepth: siteConfig.toc.depth,
		tocBadgeStyle,
	}}
>
	// 将 TOC 配置传递到前端
	window.siteConfig = window.siteConfig || {};
	window.siteConfig.toc = {
		enable: tocEnable,
		depth: tocDepth,
		badgeStyle: tocBadgeStyle,
		// 兼容旧接口
		useJapaneseBadge: tocBadgeStyle === "katakana",
	};
</script>
